html {
    background-image: url("personalImage.jpg");
}

body {
    width: 80%; 
    margin: auto; 
    background-color: #dddddd; 
    font-family: Arial; 
}

.navigation {
    background-color: #666666; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start; 
    list-style: none; 
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.navigation li {
    flex: 1; /* shorthand property that represents flex-grow of 1, flex-shrink of 1, and flex-basis of auto */ 
    font-weight: bold;
    transition:all 0.3s ease;
    padding-top: 1%;
    padding-bottom: 1%;
}

.grow:hover {
    font-size: 17px;
    background: #3f3f3f;
}

.navigation a {
    color: white; /* or the contrasting color of your choice */
    text-decoration: none; /* turns off underlining */
}

main {
    display: flex;
    flex-flow: row wrap;
    padding: 25px;
    border: 2px solid #21bde0;
}


#title {
    width: 300px;
    text-align: center;
    background-color: #444444;
    color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1px;
    line-height: 80%;
}

.page_description {
    padding: 5px;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.showcase {
    
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start; 
    list-style: none; 
    margin-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.showcase li {
    flex: 1; /* shorthand property that represents flex-grow of 1, flex-shrink of 1, and flex-basis of auto */ 
    font-weight: bold;
    transition:all 2s ease;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 22px;
}

.showcase > a {
    color: black; /* or the contrasting color of your choice */
    text-decoration: none; /* turns off underlining */
}

.showcase > img {
    flex: 1; /* shorthand property that represents flex-grow of 1, flex-shrink of 1, and flex-basis of auto */ 
    font-weight: bold;
    transition:all 0.7s ease;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
}

#showcaseImg {
    width: 90%;
    height: 90%;
    border: 2px solid #21bde0;
    z-index: 1;
    transition:all 0.4s ease;
}

/*Grows and rotates element on hover*/
.grow1:hover {
    -webkit-transform: scale(1.2) rotateZ(-3deg);
    -ms-transform: scale(1.2) rotateZ(-3deg);
    transform: scale(1.2) rotateZ(-3deg);
}

#documentation {
    padding-top: 10px;
    padding-bottom: 10px;
}

svg {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10%;
}

#buttonSect {
    margin: auto;
    padding-bottom: 3%;
    text-align: center;
}

input {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 16px;
    background: #c1c1c1;
}

input:hover {
    background: #595959;
    color: white;
}

.rotateLeft {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spinLeft 6s infinite linear;
}

@-webkit-keyframes spinLeft {
    0%  {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(0deg);}   
}

.rotateRight {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spinRight 6s infinite linear;
}

@-webkit-keyframes spinRight {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
